html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -------------------------------------------------------------------------------------- */
html, body, .header{
    width: 100%;
}

.container{
    width: 1300px;
    width: 1380px;
    /* border: 1px solid black; */
    margin: 0 auto;
}
header{
    background-color: #fee4cf;
}
.head_wrapper{
    display: flex;
    align-items: center;
    
}
.head_wrapper .nav_bar ul li{
 display: inline-block;
 margin-left: 20px;
}
.head_wrapper .nav_bar ul li > a{
    text-decoration: none;
    color: #6d3035;
    font-size: 18px;
    line-height: 1;
    letter-spacing: .6px;
    font-weight: bold;
}
.head_wrapper .say_hello > button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 380px;
    cursor: pointer;
}
.head_wrapper .menu{
    margin-left: 20px;
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.head_wrapper .menu >img{
    height: 30px;
    width: 30px;
}
#banner-section-1{
    background-color: #fee4cf;
    height: 1025px;
}
.banner{
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.banner .content{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 155px 0px 0px 30px;
}
.banner .content h2{
    font-size: 40px;
    color: #f66e6e;
    font-family: 'Courier New', Courier, monospace;
}
.banner .content h1{
    margin-top: 20px;
    font-size: 80px;
    font-weight: bold;
    color: #6d3035;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}
.banner .content p{
    color: #8c5757;
    font-size: 25px;
    width: 600px;
    line-height: 1.5;
    letter-spacing: .4px;
    margin-bottom: 30px;
}
.banner .content .say_hello > button{
    height: 70px;
    width: 180px;
    border-radius: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.banner .image{
    width: 50%;
    padding-top: 100px;
}
.banner .image > video{
    margin-top: 60px;
    width: 850px;
    height: 500px;
    /* border: 1px solid black; */
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 4px 4px rgba(0,0,0,0.5);
}
