*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .header{
      box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
      padding-left: 12.4%;
      padding-right: 10%;
      margin-bottom: 10px;
  }
  .logo>img{
      height: 10vh;
      width: 5vw;
  }
  .nav-bar{
      padding-left: 7%;
      float: right;
      margin-top: 2.2%;
      display: flex;
      justify-content: space-between;
  }
  .nav-bar > a{
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
      font-size: 1.2vw;
  }
  .content{
      margin-left: 4.5%;
      height: 100%
  }
  .classroom{
      margin-top: 2%;
      float: right;
      padding: 0;
      position: relative;
      background-image: url("images/hero-image.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      height: 73vh;
      width: 37vw;
  }
  .description{
      margin-left: 7%;
      margin-top: 12%;
      height: 38vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* position: relative; */
  }
  .main-heading{
      margin-top: -3%;
      font-size: 1.5vw;
      color: rgba(0, 0, 0, 0.8);
  }
  .main-para{
      font-size: 1.5vw;
      color: rgba(0, 0, 0, 0.5);
  }
  .special-text{
      color: rgba(227,177,73,255);
  }
  .arrow{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 11vh;
      width: 14.5vw;
      padding: 0;
      display: flex;
      justify-content: space-around;
      background-color: whitesmoke;
      padding-top: 3%;
      padding-right: 7%;
      padding-left: 7%;
  }
  .arrow>img{
      height: 70%; 
      cursor: pointer;
  }